<div class="row" style="padding-top: 1rem;" >
  <div class="col-md-8 mx-auto">
    <div class="card" style="border-radius: 20px 20px 20px 20px">
      <div class="card-header" style="background-color:cornflowerblue; border-radius: 20px 20px 0px 0px">
        <h3 class="mb-0" >Criar Produtor</h3>
      </div>
      <div class="card-body">
        <!-- Default form register -->
<form (submit)="criarProdutor($event)" calss="text-center border border-light p-5">

    <div class="form-group">

      <label>Mail</label>

      <input  required ngModel name="email"
       #email="ngModel"
       type="email"
       id="email"
       class="form-control mb-3"
       placeholder="Email">
     <div class="alert alert-danger" role="alert" *ngIf="email.touched && !email.valid">
      O Email é obrigatorio
    </div>

    <label>Nome</label>

     <input  required ngModel
       name="name"
       #name="ngModel"
       type="text"
       id="name"
       class="form-control mb-3"
       placeholder="Nome Do Produtor">
     <div class="alert alert-danger" role="alert" *ngIf="name.touched && !name.valid">
      O Nome do Produtor é obrigatorio
    </div>

    <label>Nif</label>

    <input required ngModel name="nif"
     #nif="ngModel"
     type="text"
     id="nif"
     class="form-control mb-3"
     placeholder="Nif">
     <div class="alert alert-danger" role="alert" *ngIf="nif.touched && !nif.valid">
      O Nif é obrigatorio
    </div>

    <label>Contacto</label>

    <input  required ngModel
    name="contacto"
    #contacto="ngModel"
    type="text"
    id="contacto"
    class="form-control mb-3"
    placeholder="Contacto">
    <div class="alert alert-danger" role="alert" *ngIf="contacto.touched && !contacto.valid">
      Contacto é obrigatorio
    </div>

    <label>Local</label>

    <select required ngModel
     name="local"
     #local="ngModel"
     id="local"
     class="form-control mb-3">
     <option *ngFor ="let local of locais" [ngValue]= "local._id" >
      {{local.distrito}}
    </option>
    </select>

    <!-- Sign up button -->
    <button mdbBtn color="info" class="btn btn-primary" style="margin-left:auto;margin-right:auto;display:block;margin-top:6%;margin-bottom:0%;padding: 15px 35%" type="submit" valeu="submit" block="true">Registar Produtor</button>
  </div>
</form>
  <!-- Default form register -->
      </div>
    </div>
  </div>
</div>
