<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">


<section class="jumbotron text-center">
    <div class="container" style="padding-top: 2rem;">
        <h1 class="jumbotron-heading">Bem Vindo {{tokenName}}</h1>
        <p class="lead text-muted mb-0"></p>
    </div>
</section>
<div class="w3-container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="category.html" style="font-weight: bold;">CATEGORIAS</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div class="w3-container">
    <div class="row">
        <div class="col-12 col-sm-3">
          <form (submit)="getPesquisa($event)" class="form-inline my-2 my-lg-1">
            <div class="input-group input-group ml-6">
                <input required ngModel
                name="pesquisa"
                #pesquisa="ngModel"
                id="pesquisa"
                type="text"
                class="form-control"
                aria-label="Small"
                aria-describedby="inputGroup-sizing-sm"
                placeholder="Pesquisar por Nome">
                <div class="input-group-append">
                    <button mdbBtn type="button" class="btn btn-secondary btn-number" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
        </form>
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <ul class="list-group category_block" *ngFor="let categoria of categorias">
                    <li class="list-group-item">
                      <button (click)="getProdutoTipo(categoria)" class="btn btn-primary" style="width: 100%; height: 100%;">{{categoria.nome}}</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-3" *ngFor="let produto of produtos">
                    <div class="card">
                        <img class="card-img-top" src="{{produto.imagem}}" alt="Card image cap">
                        <div class="card-body">
                            <h4 class="card-title" style="color: blue;">{{produto.nome}}</h4>
                            <p class="card-text">Local: {{produto.idLocal.nome}}</p>
                            <p class="card-text">Stock: {{produto.stock}}</p>
                            <p class="card-text">Data Inicio: {{produto.dataInicio | date:'dd/MM/yyyy'}}</p>
                            <p class="card-text">Data Final: {{produto.dataValidade | date:'dd/MM/yyyy'}}</p>
                            <p class="card-text">Numero de Certificação: {{produto.numeroQualifica}}</p>
                            <div class="row">
                                <div class="col">
                                    <p class="btn btn-danger btn-block">{{produto.preco}}€</p>
                                </div>
                                <div class="col">
                                    <button (click)="addCart(produto)"  class="btn btn-success btn-block">Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

