<div class="container" style="padding-top: 3.5rem;">
  <br>
  <!-- Nav pills -->
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#home">Criar Produto</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu1">Ver Produtos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu2">Vendas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu3">...</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <app-produtor-produto></app-produtor-produto>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
      <app-produtor-lista-produtos></app-produtor-lista-produtos>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <!--<app-produtor-vendas></app-produtor-vendas>-->
      <app-produtor-historico-vendas></app-produtor-historico-vendas>
    </div>
    <div id="menu3" class="container tab-pane fade"><br>
      <app-produtor-vendas></app-produtor-vendas>

    </div>
  </div>
</div>

