<div class="container" style="padding-top: 3.5rem;">
  <br>
  <!-- Nav pills -->
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#home">Historico De Compras</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu1">...</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu2">...</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <app-compras></app-compras>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
    </div>
  </div>
</div>
