<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
<button (click)=actuliza() class="btn btn-primary" style= "margin-left:80%;display:flex; padding: 6px 35px;">Atualizar</button>
<div class="container bootstrap snippet" style="padding-top: 1rem;">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box no-header clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                <th><span>Clientes</span></th>
                                <th><span>Localidade</span></th>
                                <th class="text-center"><span>Nif</span></th>
                                <th><span>Contacto</span></th>
                                <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let cliente of clientes">
                                <tr>
                                    <td>
                                        <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                        <a href="#" class="user-link">{{cliente.user}}</a>
                                        <span class="user-subhead">{{cliente.email}}</span>
                                    </td>
                                    <td >
                                      <span >{{cliente.localidade}}</span>
                                    </td >
                                    <td class="text-center">
                                        <span class="label label-default">{{cliente.nif}}</span>
                                    </td>
                                    <td>
                                        <samp >{{cliente.contacto}}</samp>
                                    </td>
                                    <td style="width: 20%;">
                                        <button (click)=apagarCliente(cliente) class="button" type="button" name="#btApagar">
                                            <span class="fa-stack">
                                                <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </button>
                                        <button (click)=apagarCliente(cliente) class="button" type="button" name="#btApagar">
                                            <span class="fa-stack">
                                                <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </button>
                                        <button (click)=apagarCliente(cliente) class="button3" type="button" name="#btApagar">
                                            <span class="fa-stack">
                                                <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button (click)=actuliza() class="btn btn-primary" style= "margin-left:80%;display:flex; padding: 6px 35px;">Atualizar</button>
<div class="container bootstrap snippet" style="padding-top: 2rem;">
  <div class="row">
      <div class="col-lg-12">
          <div class="main-box no-header clearfix">
              <div class="main-box-body clearfix">
                  <div class="table-responsive">
                      <table class="table user-list">
                          <thead>
                              <tr>
                              <th><span>Produtores</span></th>
                              <th><span>Localidade</span></th>
                              <th class="text-center"><span>Nif</span></th>
                              <th><span>Contacto </span></th>
                              <th>&nbsp;</th>
                              </tr>
                          </thead>
                          <tbody *ngFor="let produtor of produtores">
                              <tr>
                                  <td>
                                      <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                      <a href="#" class="user-link">{{produtor.nome}}</a>
                                      <span class="user-subhead">{{produtor.email}}</span>
                                  </td>
                                  <td >
                                    <span >{{produtor.idLocal.nome}}</span>
                                  </td >
                                  <td class="text-center">
                                      <span class="label label-default">{{produtor.nif}}</span>
                                  </td>
                                  <td>
                                      <samp >{{produtor.contacto}}</samp>
                                  </td>
                                  <td style="width: 20%;">
                                    <button (submit)=apagarProdutor($event) class="button" type="button" name="#btApagar">
                                        <span class="fa-stack">
                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </button>
                                    <button (click)="ola(produtor)" type="button" class="button" data-toggle="modal" data-target="#exampleModal">
                                        <span class="fa-stack">
                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </button>
                                    <button (click)=apagarProdutor(produtor) class="button3" type="button" name="#btApagar">
                                        <span class="fa-stack">
                                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </button>
                                </td>
                              </tr>
                          </tbody>

                          <!-- Modal -->

                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="padding-top: 15rem;">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="exampleModalLabel">Editar Produtor</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form (submit)="editarProdutor($event)" calss="text-center border border-light p-5">

                                    <div class="form-group">

                                      <label>Nome</label>

                                     <input  required ngModel
                                       name="produtorNome"
                                       #produtorNome="ngModel"
                                       type="text"
                                       id="produtorNome"
                                       class="form-control mb-3"
                                       placeholder="Nome Do Produtor">
                                     <div class="alert alert-danger" role="alert" *ngIf="produtorNome.touched && !produtorNome.valid">
                                      O Nome do Produtor é obrigatorio
                                    </div>

                                    <label>Nif</label>

                                    <input required ngModel name="produtorNif"
                                     #produtorNif="ngModel"
                                     type="text"
                                     id="produtorNif"
                                     class="form-control mb-3"
                                     placeholder=Nif>
                                     <div class="alert alert-danger" role="alert" *ngIf="produtorNif.touched && !produtorNif.valid">
                                      O Nif é obrigatorio
                                    </div>

                                    <label>Contacto</label>

                                    <input  required ngModel
                                    name="produtorcontacto"
                                    #produtorcontacto="ngModel"
                                    type="text"
                                    id="produtorcontacto"
                                    class="form-control mb-3"
                                    placeholder="Contacto">
                                    <div class="alert alert-danger" role="alert" *ngIf="produtorcontacto.touched && !produtorcontacto.valid">
                                      Contacto é obrigatorio
                                    </div>

                                    <label>Local</label>

                                    <select required ngModel
                                     name="Produtorlocal"
                                     #Produtorlocal="ngModel"
                                     id="Produtorlocal"
                                     class="form-control mb-3">
                                     <option *ngFor ="let local of locais" [ngValue]= "local._id" >
                                      {{local.distrito}}
                                    </option>
                                    </select>

                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                      <button mdbBtn type="button" class="btn btn-primary" type="submit" valeu="submit" block="true">Editar Produtor</button>
                                    </div>
                                  </div>
                                </form>
                                </div>

                              </div>
                            </div>
                          </div>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<button (click)=actuliza() class="btn btn-primary" style= "margin-left:80%;display:flex; padding: 6px 35px;">Atualizar</button>
<div class="container bootstrap snippet" style="padding-top: 2rem;">
  <div class="row">
      <div class="col-lg-12">
          <div class="main-box no-header clearfix">
              <div class="main-box-body clearfix">
                  <div class="table-responsive">
                      <table class="table user-list">
                          <thead>
                              <tr>
                              <th><span>Admin</span></th>
                              <th><span>Created</span></th>
                              <th class="text-center"><span>Status</span></th>
                              <th><span>Email</span></th>
                              <th>&nbsp;</th>
                              </tr>
                          </thead>
                          <tbody *ngFor="let admin of admins">
                              <tr>
                                  <td>
                                      <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                      <a href="#" class="user-link">{{admin.user}}</a>
                                      <span class="user-subhead">{{admin.email}}</span>
                                  </td>
                                  <td >
                                    <span >{{admin.tipoUser}}</span>
                                  </td >
                                  <td class="text-center">
                                      <span class="label label-default">{{admin.contacto}}</span>
                                  </td>
                                  <td>
                                      <samp >{{admin.localidade}}</samp>
                                  </td>
                                  <td style="width: 20%;">
                                    <button (click)=apagarAdmin(admin) class="button" type="button" name="#btApagar">
                                        <span class="fa-stack">
                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </button>
                                    <button (click)=apagarAdmin(admin) class="button" type="button" name="#btApagar">
                                        <span class="fa-stack">
                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </button>
                                    <button (click)=apagarAdmin(admin) class="button3" type="button" name="#btApagar">
                                        <span class="fa-stack">
                                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </button>
                                </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
