<div class="container" style="padding-top: 3.5rem;">
  <br>
  <!-- Nav pills -->
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#home">Criar Produtor</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu5">Criar Admin</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu1">Ver Utilizadores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu2">Entidades e Locais</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu3">Categorias e SubCategorias</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu4">Tipo De Produtos</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="home" class="container tab-pane active"><br>
      <app-admin-criar-produtor></app-admin-criar-produtor>
    </div>
    <div id="menu5" class="container tab-pane fade"><br>
      <app-admin-criar-admins></app-admin-criar-admins>
    </div>
    <div id="menu1" class="container tab-pane fade"><br>
      <app-admin-lista-produtores></app-admin-lista-produtores>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <div class="grid-container">
        <div class="item1">
          <app-admin-local></app-admin-local>
        </div>
        <div class="item2">
          <app-admin-entidade></app-admin-entidade>
        </div>
        <div class="item3">
          <app-admin-qualificacao></app-admin-qualificacao>
        </div>
      </div>

      <link rel="stylesheet" type="text/css"
        href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

      <button (click)=actuliza() class="btn btn-primary"
        style="margin-left:87%;display:flex; padding: 6px 25px;">Atualizar</button>
      <div class="container bootstrap snippet" style="padding-top: 1rem;">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="main-box no-header clearfix">
              <div class="main-box-body clearfix">
                <div class="table-responsive">
                  <table class="table user-list">
                    <thead>
                      <tr>
                        <th><span>Nome</span></th>
                        <th><span>Distrito</span></th>
                        <th><span>Codigo-Postal</span></th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let local of locais">
                      <tr>
                        <td>
                          <span>{{local.nome}}</span>
                        </td>
                        <td>
                          <span>{{local.distrito}}</span>
                        </td>
                        <td>
                          <span>{{local.codigopostal}}</span>
                        </td>
                        <td style="width: 12%;">
                          <button type="button" class="button" data-toggle="modal" data-target="#exampleModal">
                            <span class="fa-stack">
                              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                          </button>
                          <button (click)=apagarLocal(local) class="button3" type="button" name="#btApagar">
                            <span class="fa-stack">
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <link rel="stylesheet" type="text/css"
        href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <button (click)=actuliza() class="btn btn-primary"
        style="margin-left:87%;display:flex; padding: 6px 25px;">Atualizar</button>
      <div class="container bootstrap snippet" style="padding-top: 1rem;">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="main-box no-header clearfix">
              <div class="main-box-body clearfix">
                <div class="table-responsive">
                  <table class="table user-list">
                    <thead>
                      <tr>
                        <th><span>Nome</span></th>
                        <th><span>Descrição</span></th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let entidade of entidades">
                      <tr>
                        <td>
                          <span>{{entidade.nome}}</span>
                        </td>
                        <td>
                          <span>{{entidade.descricao}}</span>
                        </td>
                        <td style="width: 12%;">
                          <button type="button" class="button" data-toggle="modal" data-target="#exampleModal">
                            <span class="fa-stack">
                              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                          </button>
                          <button (click)=apagarEntidade(entidade) class="button3" type="button" name="#btApagar">
                            <span class="fa-stack">
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <link rel="stylesheet" type="text/css"
        href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
      <button (click)=actuliza() class="btn btn-primary"
        style="margin-left:87%;display:flex; padding: 6px 25px; margin-top: 3rem;">Atualizar</button>
      <div class="container bootstrap snippet" style="padding-top: 1rem;">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="main-box no-header clearfix">
              <div class="main-box-body clearfix">
                <div class="table-responsive">
                  <table class="table user-list">
                    <thead>
                      <tr>
                        <th><span>Nome</span></th>
                        <th><span>Descrição</span></th>
                        <th><span>Entidade</span></th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let qualicacao of qualificacoes">
                      <tr>
                        <td>
                          <span>{{qualicacao.nome}}</span>
                        </td>
                        <td>
                          <span>{{qualicacao.descricao}}</span>
                        </td>
                        <td>
                          <span>{{qualicacao.idEntidadeCerticadora.nome}}</span>
                        </td>
                        <td style="width: 12%;">
                          <button type="button" class="button" data-toggle="modal" data-target="#exampleModal">
                            <span class="fa-stack">
                              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                          </button>
                          <button (click)=apagarQualificacao(qualicacao) class="button3" type="button" name="#btApagar">
                            <span class="fa-stack">
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div id="menu3" class="container tab-pane fade"><br>
      <div class="grid-container2">
        <div class="item1">
          <app-admin-categoria></app-admin-categoria>
        </div>
        <div class="item2">
          <app-admin-subcategoria></app-admin-subcategoria>
        </div>
      </div>

      <link rel="stylesheet" type="text/css"
        href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
      <button (click)=actuliza() class="btn btn-primary"
        style="margin-left:87%;display:flex; padding: 6px 25px; margin-top: 7rem;">Atualizar</button>
      <div class="container bootstrap snippet" style="padding-top: 1rem;">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="main-box no-header clearfix">
              <div class="main-box-body clearfix">
                <div class="table-responsive">
                  <table class="table user-list">
                    <thead>
                      <tr>
                        <th><span>Nome</span></th>
                        <th><span>Descrição</span></th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let categoria of categorias">
                      <tr>
                        <td>
                          <span>{{categoria.nome}}</span>
                        </td>
                        <td>
                          <span>{{categoria.descricao}}</span>
                        </td>
                        <td style="width: 12%;">
                          <button type="button" class="button" data-toggle="modal" data-target="#exampleModal">
                            <span class="fa-stack">
                              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                          </button>
                          <button (click)=apagarCategorias(categoria) class="button3" type="button" name="#btApagar">
                            <span class="fa-stack">
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <link rel="stylesheet" type="text/css"
        href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
      <button (click)=actuliza() class="btn btn-primary"
        style="margin-left:87%;display:flex; padding: 6px 25px; margin-top: 3rem;">Atualizar</button>
      <div class="container bootstrap snippet" style="padding-top: 1rem;">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="main-box no-header clearfix">
              <div class="main-box-body clearfix">
                <div class="table-responsive">
                  <table class="table user-list">
                    <thead>
                      <tr>
                        <th><span>Nome</span></th>
                        <th><span>Descrição</span></th>
                        <th><span>Entidade</span></th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let subCat of subCategorias">
                      <tr>
                        <td>
                          <span>{{subCat.nome}}</span>
                        </td>
                        <td>
                          <span>{{subCat.designacao}}</span>
                        </td>
                        <td>
                          <span>{{subCat.idCategoria.nome}}</span>
                        </td>
                        <td style="width: 12%;">
                          <button type="button" class="button" data-toggle="modal" data-target="#exampleModal">
                            <span class="fa-stack">
                              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                          </button>
                          <button (click)=apagarSubCat(subCat) class="button3" type="button" name="#btApagar">
                            <span class="fa-stack">
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div id="menu4" class="container tab-pane fade"><br>
      <app-admin-tipo-produto></app-admin-tipo-produto>
      <link rel="stylesheet" type="text/css"
        href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
      <button (click)=actuliza() class="btn btn-primary"
        style="margin-left:87%;display:flex; padding: 6px 25px; margin-top: 7rem;">Atualizar</button>
      <div class="container bootstrap snippet" style="padding-top: 1rem;">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="main-box no-header clearfix">
              <div class="main-box-body clearfix">
                <div class="table-responsive">
                  <table class="table user-list">
                    <thead>
                      <tr>
                        <th><span>Nome</span></th>
                        <th><span>Descrição</span></th>
                        <th><span>Categoria</span></th>
                        <th><span>Certicação</span></th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody *ngFor="let tipoProduto of tipoProdutos">
                      <tr>
                        <td>
                          <span>{{tipoProduto.nome}}</span>
                        </td>
                        <td>
                          <span>{{tipoProduto.designacao}}</span>
                        </td>
                        <td>
                          <span>{{tipoProduto.idSubcategoria.nome}}</span>
                        </td>
                        <td>
                          <span>{{tipoProduto.idQualificacao.nome}}</span>
                        </td>
                        <td style="width: 12%;">
                          <button type="button" class="button" data-toggle="modal" data-target="#exampleModal">
                            <span class="fa-stack">
                              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                            </span>
                          </button>
                          <button (click)=apagarTipoProduto(tipoProduto) class="button3" type="button" name="#btApagar">
                            <span class="fa-stack">
                              <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                            </span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
