<div class="row" style="padding-top: 1rem;" >
  <div class="col-md-8 mx-auto">
    <div class="card" style="border-radius: 20px 20px 20px 20px">
      <div class="card-header" style="background-color:cornflowerblue; border-radius: 20px 20px 0px 0px">
        <h3 class="mb-0" >Criar Admin</h3>
      </div>
      <div class="card-body">
        <!-- Default form register -->
<form (submit)="criarAdmin($event)" calss="text-center border border-light p-5">

    <div class="form-group">

      <label>Mail</label>

      <input  required ngModel name="adminemail"
       #adminemail="ngModel"
       type="email"
       id="adminemail"
       class="form-control mb-3"
       placeholder="Email">
     <div class="alert alert-danger" role="alert" *ngIf="adminemail.touched && !adminemail.valid">
      O Email é obrigatorio
    </div>

    <label>Nome</label>

     <input  required ngModel
       name="adminname"
       #adminname="ngModel"
       type="text"
       id="adminname"
       class="form-control mb-3"
       placeholder="Nome Do Admin">
     <div class="alert alert-danger" role="alert" *ngIf="adminname.touched && !adminname.valid">
      Nome Do Admin é obrigatorio
    </div>

    <label>Password</label>

     <input  required ngModel
       name="adminpass"
       #adminpass="ngModel"
       type="password"
       id="adminpass"
       class="form-control mb-3"
       placeholder="Password">
     <div class="alert alert-danger" role="alert" *ngIf="adminpass.touched && !adminpass.valid">
       A Password é obrigatoria
    </div>

    <label>Contacto</label>

    <input  required ngModel
    name="admincontacto"
    #admincontacto="ngModel"
    type="text"
    id="admincontacto"
    class="form-control mb-3"
    placeholder="Contacto">
    <div class="alert alert-danger" role="alert" *ngIf="admincontacto.touched && !admincontacto.valid">
      Contacto é obrigatorio
    </div>

    <label>Local</label>

    <select required ngModel
     name="adminlocal"
     #adminlocal="ngModel"
     id="adminlocal"
     class="form-control mb-3">
     <option *ngFor ="let local of locais" [ngValue]= "local.distrito" >
      {{local.distrito}}
    </option>
    </select>

    <!-- Sign up button -->
    <button mdbBtn color="info" class="btn btn-primary" style="margin-left:auto;margin-right:auto;display:block;margin-top:6%;margin-bottom:0%;padding: 15px 35%" type="submit" valeu="submit" block="true">Registar admin</button>
  </div>
</form>
  <!-- Default form register -->
      </div>
    </div>
  </div>
</div>
