<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary fixed-top">
  <a style="font-weight: bold;" class="navbar-brand">AppProd</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a style="color: ghostwhite; font-size: 20px;" class="nav-link"[routerLink]="['/home']" routerLinkActive="router-link-active">Home</a>
      </li>
      <li class="nav-item">
        <a style="color: ghostwhite; font-size: 20px;" class="nav-link" href="#">Promoções</a>
      </li>
      <li class="nav-item">
          <a style="color: ghostwhite; font-size: 20px; " class="nav-link" [routerLink]="['/produtor']" routerLinkActive="router-link-active">Produtor</a>
      </li>
      <li class="nav-item">
        <a style="color: ghostwhite; font-size: 20px; " class="nav-link" [routerLink]="['/admin']" routerLinkActive="router-link-active">Admin</a>
    </li>
    </ul>
      <a style="color: ghostwhite; font-size: 20px;" class="nav-link" [routerLink]="['/cliente']" routerLinkActive="router-link-active" *ngIf="userSatus$">{{nome}}</a>
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item dropdown ml-3">
            <a style="margin-right: 2.5em; color: ghostwhite; font-size: 20px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Settings
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/login']" routerLinkActive="router-link-active" *ngIf="!userSatus$">Login</a>
              <div class="dropdown-divider" *ngIf="!userSatus$"></div>
              <a class="dropdown-item" [routerLink]="['/register']" routerLinkActive="router-link-active" >Registar Cliente</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/registerProdutor']" routerLinkActive="router-link-active" >Registar Produtor</a>
              <div class="dropdown-divider"*ngIf="userSatus$"></div>
              <a class="dropdown-item" [routerLink]="['/logout']" routerLinkActive="router-link-active" (click)="logout()" *ngIf="userSatus$">Sair</a>
            </div>
          </li>
    </ul>
  </div>
</nav>

