<div class="row" >
  <div class="col-md-11 mx-auto">
    <div class="card" style="border-radius: 20px 20px 20px 20px; height: 109%;">
      <div class="card-header" style="background-color:cornflowerblue; border-radius: 20px 20px 0px 0px">
        <h3 class="mb-0" >Registo Da Entidade</h3>
      </div>
      <div class="card-body">
        <!-- Default form register -->
<form (submit)="registarEntidade($event)" calss="text-center border border-light p-5">

    <div class="form-group">
      <!-- First name -->

      <label>Nome</label>

     <input  required ngModel
      name="nomeEnt"
      #nomeEnt="ngModel"
      type="text"
      id="nomeEnt"
      class="form-control mb-3"
      placeholder="Nome">
     <div class="alert alert-danger" role="alert" *ngIf="nomeEnt.touched && !nomeEnt.valid">
      Nome é obrigatorio
    </div>

    <label>Descrição</label>


    <input  required ngModel
      name="descEnt"
      #descEnt="ngModel"
      type="text"
      id="descEnt"
      class="form-control mb-3"
      placeholder="Descrição">
     <div class="alert alert-danger" role="alert" *ngIf="descEnt.touched && !descEnt.valid">
      A Descrição é obrigatorio
    </div>

    <!-- Sign up button -->
    <button mdbBtn color="info" class="btn btn-primary" style="margin-left:auto;margin-right:auto;display:block;margin-top:30%;margin-bottom:0%" type="submit" valeu="submit" block="true">Registar Entidade</button>
  </div>
</form>
  <!-- Default form register -->
      </div>
    </div>
  </div>
</div>

