<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<section class="jumbotron text-center" style="padding-top: 5rem;">
  <div class="container">
    <h1 class="jumbotron-heading">E-COMMERCE CART</h1>
  </div>
</section>

<div class="container mb-4">
  <div class="row">
    <div class="col-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Imagem</th>
              <th scope="col">Produto</th>
              <th scope="col">Stock</th>
              <th scope="col" class="text-center">Quantidade</th>
              <th scope="col" class="text-right">Preço Unitario</th>
              <th scope="col" class="text-right">Preço linha</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let produto of produtosServico; let i = index">
              <td><img src="{{produto.imagem}}" style="position:relative; max-width: 100px; float: left;" /> </td>
              <td>{{produto.nome}}</td>
              <td style="padding-left: 3.5%;">{{produto.stock}}</td>
              <td class="text-center">
                <button (click)="btminus(produto, i)" class="btn btn-sm btn-primary" style="margin-right: 1rem;"><i
                    class="fa fa-minus"></i> </button>
                {{produto.quantidade}}
                <button (click)="btplus(produto, i)" class="btn btn-sm btn-primary" style="margin-left: 1rem;"><i
                    class="fa fa-plus"></i> </button>
              </td>
              <!--<td><input class="form-control" type="text" value="1" /></td>-->
              <td class="text-center">
                {{produto.preco}}
              </td>
              <td class="text-center">
                {{produto.preco * produto.quantidade}}
              </td>
              <td class="text-right"><button (click)=removeProduto(produto) class="btn btn-sm btn-danger"><i
                    class="fa fa-trash"></i> </button> </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total</strong></td>
              <td class="text-right"><strong>{{subTotal | number:'.1-2'}}€</strong></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><strong>Total Com Iva</strong></td>
              <td class="text-right"><strong>{{subTotal * 1.23 | number:'.1-2'}}€</strong></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col mb-2">
      <div class="row">
        <div class="col-sm-12  col-md-6">
          <button (click)="continuar()" class="btn btn-block btn-primary">Continuar A Comprar</button>
        </div>
        <div class="col-sm-12 col-md-6 text-right">
          <button (click)="criarCompra()" class="btn btn-lm btn-block btn-success">Finalzar Compra</button>
        </div>
      </div>
    </div>
  </div>
</div>
