<div class="row" >
  <div class="col-md-11 mx-auto">
    <div class="card" style="border-radius: 20px 20px 20px 20px">
      <div class="card-header" style="background-color:cornflowerblue; border-radius: 20px 20px 0px 0px">
        <h3 class="mb-0" >Registo Da Certificação</h3>
      </div>
      <div class="card-body">
        <!-- Default form register -->
<form (submit)="registarQualificacao($event)" calss="text-center border border-light p-5">

    <div class="form-group">
      <!-- First name -->

      <label>Nome</label>


      <input  required ngModel
        name="nomeQual"
        #nomeQual="ngModel"
        type="text"
        id="nomeQual"
        class="form-control mb-3"
        placeholder="Nome">
     <div class="alert alert-danger" role="alert" *ngIf="nomeQual.touched && !nomeQual.valid">
      Nome é obrigatorio
    </div>

    <label>Descrição</label>

    <input required ngModel
      name="descQual"
      #descQual="ngModel"
      type="text"
      id="descQual"
      class="form-control mb-3"
      placeholder="Descrição">
    <div class="alert alert-danger" role="alert" *ngIf="descQual.touched && !descQual.valid">
      A Descrição é obrigatoria
    </div>

    <label>Entidade</label>

    <select required ngModel
     name="entidadeQual"
     #entidadeQual="ngModel"
     id="entidadeQual"
     class="form-control mb-3">
     <option *ngFor ="let entidade of entidades" [ngValue]= "entidade._id" >
      {{entidade.nome}}
    </option>
    </select>

    <!-- Sign up button -->
    <button mdbBtn color="info" class="btn btn-primary" style="margin-left:auto;margin-right:auto;display:block;margin-top:12%;margin-bottom:0%" type="submit" valeu="submit" block="true">Registar Certificação</button>
  </div>
</form>
  <!-- Default form register -->
      </div>
    </div>
  </div>
</div>
