<div class="row" style="padding-top: 1rem;" >
  <div class="col-md-8 mx-auto">
    <div class="card" style="border-radius: 20px 20px 20px 20px">
      <div class="card-header" style="background-color:cornflowerblue; border-radius: 20px 20px 0px 0px">
        <h3 class="mb-0" >Criar Produto</h3>
      </div>
      <div class="card-body">
        <!-- Default form register -->
<form (submit)="criarProduto($event)" calss="text-center border border-light p-5">

    <div class="form-group">

      <label for="name">Nome</label>

     <input  required ngModel
       name="name"
       #name="ngModel"
       type="text"
       id="name"
       class="form-control mb-3"
       placeholder="Nome Do Produto">
     <div class="alert alert-danger" role="alert" *ngIf="name.touched && !name.valid">
      O Nome do Produto é obrigatorio
    </div>

    <label>Stock</label>

    <input required ngModel
     name="stock"
     #stock="ngModel"
     type="text"
     id="stock"
     class="form-control mb-3"
     placeholder="stock">
     <div class="alert alert-danger" role="alert" *ngIf="stock.touched && !stock.valid">
      O Stock do Produto é obrigatorio
    </div>

     <label>Tipo de Produto</label>

     <select required ngModel
     name="tipoProduto"
     #tipoProduto="ngModel"
     id="tipoProduto"
     class="form-control mb-3"
     placeholder="TipoProduto">
     <option *ngFor ="let tipoProduto of tipoProdutos" [ngValue]= "tipoProduto._id" >
       {{tipoProduto.nome}}
     </option>
    </select>

    <label>Local</label>

    <select required ngModel
     name="local"
     #local="ngModel"
     id="local"
     class="form-control mb-3">
     <option *ngFor ="let local of locais" [ngValue]= "local._id" >
      {{local.distrito}}
    </option>
    </select>

    <label>Data de Inicio</label>

     <input  required ngModel
       name="dataInicio"
       #dataInicio="ngModel"
       type="date"
       id="dataInicio"
       class="form-control mb-3"
       placeholder="Data Inicio">
     <div class="alert alert-danger" role="alert" *ngIf="dataInicio.touched && !dataInicio.valid">
      Data Inicio é obrigatoria
    </div>

    <label>Data de Validade</label>

    <input  required ngModel
    name="dataValidade"
    #dataValidade="ngModel"
    type="date"
    id="dataValidade"
    class="form-control mb-3"
    placeholder="Data de Validade">
    <div class="alert alert-danger" role="alert" *ngIf="dataValidade.touched && !dataValidade.valid">
      Data de Validade é obrigatoria
    </div>

    <label >Preço</label>

    <input  required ngModel
    name="preco"
    #preco="ngModel"
    type="text"
    id="preco"
    class="form-control mb-3"
    placeholder="Preço">
    <div class="alert alert-danger" role="alert" *ngIf="preco.touched && !preco.valid">
      Preço é obrigatorio
    </div>

    <label>Imagem</label>

    <input  required ngModel
    name="imagem"
    #imagem="ngModel"
    type="url"
    id="imagem"
    class="form-control mb-3"
    placeholder="Imagem">
    <div class="alert alert-danger" role="alert" *ngIf="imagem.touched && !imagem.valid">
      Imagem é obrigatorio
    </div>

    <label>Entidade</label>

    <select required ngModel
     name="entidadeProd"
     #entidadeProd="ngModel"
     id="entidadeProd"
     class="form-control mb-3">
     <option *ngFor ="let entidade of entidades" [ngValue]= "entidade._id" >
      {{entidade.nome}}
    </option>
    </select>

    <label>Numero de Certificado</label>

    <input  required ngModel
    name="numeroQualifica"
    #numeroQualifica="ngModel"
    type="text"
    id="numeroQualifica"
    class="form-control mb-3"
    placeholder="Numero da certificação">
    <div class="alert alert-danger" role="alert" *ngIf="numeroQualifica.touched && !numeroQualifica.valid">
      Numero da certificação é obrigatorio
    </div>

    <!-- Sign up button -->
    <button mdbBtn color="info" class="btn btn-primary" style="margin-left:auto;margin-right:auto;display:block;margin-top:6%;margin-bottom:0%;padding: 15px 35%" type="submit" valeu="submit" block="true">Criar Produto</button>
  </div>
</form>
  <!-- Default form register -->
      </div>
    </div>
  </div>
</div>
