<div class="row">
  <div class="col-md-11 mx-auto">
    <div class="card" style="border-radius: 20px 20px 20px 20px ; height: 110%;">
      <div class="card-header" style="background-color:cornflowerblue; border-radius: 20px 20px 0px 0px;">
        <h3 class="mb-0" >Registo Do Local</h3>
      </div>
      <div class="card-body">
        <!-- Default form register -->
<form  (submit)="registarLocal($event)" calss="text-center border border-light p-5">

    <div class="form-group">
      <!-- First name -->

      <label>Nome</label>


     <input  required ngModel
      name="nomel"
      #nomel="ngModel"
      type="text"
      id="nomel"
      class="form-control mb-3"
      placeholder="Nome">
     <div class="alert alert-danger" role="alert" *ngIf="nomel.touched && !nomel.valid">
      Nome é obrigatorio
    </div>

    <label>Distrito</label>


    <input required ngModel name="distritol"
      #distrito="ngModel"
      type="text"
      id="distrito"
      class="form-control mb-3"
      placeholder="Distrito">
      <div class="alert alert-danger" role="alert" *ngIf="distrito.touched && !distrito.valid">
        Distrito é obrigatorio
      </div>

      <label>Codigo-Postal</label>

     <input  required ngModel
      name="codigopostal"
      #codigopostal="ngModel"
      type="codigopostal"
      id="codigopostal"
      class="form-control mb-3"
      placeholder="Codigo Postal">
     <div class="alert alert-danger" role="alert" *ngIf="codigopostal.touched && !codigopostal.valid">
      O Cidigo-Postaç é obrigatorio
    </div>
    <!-- Sign up button -->
    <button mdbBtn color="info" class="btn btn-primary" style="margin-left:auto;margin-right:auto;display:block;margin-top:13%;margin-bottom:0%" type="submit" valeu="submit" block="true">Registar Local</button>
  </div>
</form>
  <!-- Default form register -->
      </div>
    </div>
  </div>
</div>

